@using Blazor.MultiSelect.Models;

<div class="multi-select">
    <input type="text" @onclick="" />
</div>

@code {
    [Parameter]
    public List<SelectItem> Collection { get; set; }


    private void AddItem()
    {

    }

    private void RemoveItem()
    {

    }
}