<span class="blazor-multi-select-item" @onclick="@DeleteItem">@Item.Name<i class="material-icons btnclose">x</i></span>

@code {

    [Parameter]
    public MultiSelectItem Item { get; set; }

    [Parameter]
    public EventCallback<MultiSelectItem> OnDelete { get; set; }

    private void DeleteItem()
    {
        if (OnDelete.HasDelegate)
        {
            OnDelete.InvokeAsync(Item);
        }
    }
}

