
    <p class="Blazor-Multi-Select-Item">
        <span>@Item.Name <i  @onclick="@DeleteItem">x</i></span>
    </p>

@code {

    [Parameter]
    public MultiSelectItem Item { get; set; }

    [Parameter]
    public EventCallback<MultiSelectItem> OnDelete { get; set; }

    private void DeleteItem()
    {
        if (OnDelete.HasDelegate)
        {
            OnDelete.InvokeAsync(Item);
        }
    }
}

