@using Microsoft.AspNetCore.Components.Web

@page "/messages"
<h1>Messages</h1>
<h2>Input Message</h2>
<p>Please fill out the form below and press submit to send a message</p>
@if (EditMessageRecord == null)
{
    <input @bind="MessageInput" @bind:event="oninput" />
    <button @onclick="MessageInputClick">Send Message</button>
}
else
{
    <input @bind="EditMessageRecord.Message" @bind:event="oninput" />
    <button @onclick="EditClose">Close</button>
}
@if (EditMessageRecord == null)
{
    <p>Your message currently has @(MessageInput?.Length ?? 0) character@((MessageInput?.Length ?? 0) != 1 ? "s" : "")</p>
}
else
{
    <p>Your message currently has @(EditMessageRecord.Message?.Length ?? 0) character@((EditMessageRecord.Message?.Length ?? 0) != 1 ? "s" : "")</p>
}
@if (MessageRecords != null && MessageRecords.Count > 0)
{
<h2>Your Messages Sent</h2>
<ul>
    @foreach (var item in MessageRecords.ToList())
    {
        <MessageItem MessageRecord="item" OnEdit="@MessageEdit" OnDelete="@MessageDelete"></MessageItem>
    }
</ul>
}
@code {
    private string MessageInput { get; set; }

    private List<MessageRecord> MessageRecords { get; set; }

    private MessageRecord EditMessageRecord { get; set; }

    private void MessageInputClick(MouseEventArgs mouseEventArgs)
    {
        if (MessageRecords == null)
        {
            MessageRecords = new List<MessageRecord>();
        }

        MessageRecords.Add(new MessageRecord(MessageInput, DateTime.UtcNow));

        MessageInput = string.Empty;
    }

    private void MessageEdit(MessageRecord messageRecord)
    {
        EditMessageRecord = messageRecord;
    }

    private void MessageDelete(MessageRecord messageRecord)
    {
        EditMessageRecord = null;
        MessageRecords.Remove(messageRecord);
    }

    private void EditClose()
    {
        EditMessageRecord = null;
    }
}