<li>
    <strong>@MessageRecord.Sent.ToString("HH:mm:ss")</strong>:@MessageRecord.Message @((MessageRecord.Verified ? " (Verified)" : "")) 
    <button @onclick="@EditItem">Edit</button> <button @onclick="@DeleteItem">Delete</button>
</li>
@code {
    [Parameter]
    public MessageRecord MessageRecord { get; set; }

    [Parameter]
    public EventCallback<MessageRecord> OnEdit { get; set; }

    [Parameter]
    public EventCallback<MessageRecord> OnDelete { get; set; }

    public MessageItem()
    {
        var t = new Timer(new TimerCallback((object state) =>
        {
            MessageRecord.Verified = true;

            InvokeAsync(() =>
            {
                StateHasChanged();
            });
        }), null, 1000, -1);
    }

    private void EditItem(MouseEventArgs mouseEventArgs)
    {
        if (OnEdit.HasDelegate)
        {
            OnEdit.InvokeAsync(MessageRecord);
        }
    }

    private void DeleteItem(MouseEventArgs mouseEventArgs)
    {
        if (OnDelete.HasDelegate)
        {
            OnDelete.InvokeAsync(MessageRecord);
        }
    }
}
